<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>planos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; align-items: center; margin-left: 30%; margin-top: 3.5%;">
    <div style="text-align: center;">
      <div class="ribbon">Plano Comum</div><br><br><br>
      <p style="display: block; margin-top: 5px;  margin-right: 45%;">Plano básico para todo e qualquer usuário </p>
    </div>
  </div>
  <br><br><br><br><br><br>

  <div style="display: flex; align-items: center; margin-left: 30%; margin-top: 3.5%; ">
    <div style="text-align: center;">
      <div class="ribbon2">Plano Premium</div><br><br><br>
      <p style="display: block; margin-top: 5px;  margin-right: 45%;">Acesso à mais mecânicas e conteúdos exclusivos </p>
    </div>
  </div>
  <br><br><br><br><br><br>

  

  <div style="display: flex; align-items: center; margin-left: 30%; margin-top: 3.5%;">
    <div style="text-align: center;">
      <div class="ribbon3">Plano Partners</div><br><br><br>
      <p style="display: block; margin-top: 5px; margin-right: 45%;">Impulsionamento e recomendações de suas empresas / marcas</p>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br>
</ion-content>
