<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="dark" routerLink="/configuracao">
        <ion-icon slot="icon-only" ios="settings-outline" md="settings-sharp" routerLink="/configuracao"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <!-- Profile -->
    <ion-row>
      <ion-col>
        <div class="profile__image">
          <img src="../../../assets/brunin.png">
        </div>
        <div class="ion-text-center">
          <h4>Bruno Gelpke</h4>
          <p>Buscando melhorar em todos os aspectos</p>
        </div>
      </ion-col>
    </ion-row>

    <!-- Stats -->
    <ion-row class="stats">
      <ion-col>
        <h6>356</h6>
        <p>Photos</p>
      </ion-col>
      <ion-col>
        <h6>860</h6>
        <p>Friends</p>
      </ion-col>
      <ion-col>
        <h6>20</h6>
        <p>Groups</p>
      </ion-col>
    </ion-row>
<!-- Fora do loop das imagens -->

  <div class="full-screen-view" *ngIf="isImageExpanded" (click)="closeExpandedImage()">
    <ion-img [src]="expandedImageUrl" class="expanded-image"></ion-img>
  </div>

     <!-- Grid -->
  <ion-row>
    <ion-col size="4" *ngFor="let item of friends">
      <ion-img [src]="item.feed_image" (click)="expandImage(item.feed_image)"></ion-img>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
