.loading-container {
    height: 100vh; /* Define a altura para ocupar toda a altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-container img {
    position: fixed;
    width: 150%;
    height: 100%;
    animation: zoomAnimation 10s infinite linear; /* Animação de zoom constante */
    overflow: hidden; /* Garante que a imagem não ultrapasse a tela */

    object-fit: cover; /* Garante que a imagem preencha o espaço mantendo sua proporção */
  }

  @keyframes zoomAnimation {
    0% {
      transform: scale(1.0);
    }
    50% {
      transform: scale(1.05); /* Pequeno zoom de 2% */
    }
    100% {
      transform: scale(1); /* Volta ao tamanho normal */
    }
  }
  

  /* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: linear-gradient(135deg,#0000 calc(50% - 0.5em),#ff9300 0 calc(50% + 0.5em),#0000 0) right/300% 100%;
  animation: l22 2s infinite;
}
.loader::before {
  content: "Loading...";
  color: #ffffff;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(135deg,#000 calc(50% - 0.5em),#fff 0 calc(50% + 0.5em),#000 0);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l22{
  100%{background-position: left}
}
  