<!-- config.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Configurações</ion-title>
    
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" ios="person-circle-outline" md="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="(apiService.isDarkMode | async) as isDarkMode">
  <ion-button (click)="toggleDarkMode()"> 
    {{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}
  </ion-button>
</ng-container>
<ion-content>
  
  
  

  <ion-list [inset]="true">
    <ion-item [button]="true">
      <ion-label>Night Shift</ion-label>
      <ion-text slot="end" color="medium">9:00 PM to 8:00 AM</ion-text>
    </ion-item>
  </ion-list>
  <!-- Aqui você pode adicionar opções de configuração, como toggles, inputs, selects, etc. -->
  <ion-list>
    <ion-item>
      <ion-label>Notificações</ion-label>
      <ion-toggle [(ngModel)]="enableNotifications"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label style="color: aliceblue;" position="stacked">Idioma</ion-label>
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage()">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="pt">Português</ion-select-option>
      </ion-select>
    </ion-item>
    
    
      <!-- Seu conteúdo aqui -->
    <!-- Seu HTML relevante -->
    

    <!-- Adicione mais opções de configuração conforme necessário -->
  </ion-list>

  <!-- Botão de salvar configurações -->
  <ion-button class="half-half-button" fill="clear" expand="full" (click)="changeLanguage()">
    Salvar
  </ion-button>
</ion-content>
