*{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-content {
    --ion-background-color: black;
}

ion-item{
    width: 75%;
}

.half-half-button {
    background: linear-gradient(-223deg, #006cff 35%, #ff9300 65%);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    width: 70.5%;
    margin-left: 16.6%;
    margin-top: 5%;
}