<!-- home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline" pullingText="Puxe para atualizar...">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-card-subtitle>{{ post.author }}</ion-card-subtitle>
      <ion-card-title>{{ post.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ post.description }}</p>
      <img *ngIf="post.imageUrl" [src]="post.imageUrl" alt="Post Image">
    </ion-card-content>

    <!-- Comentários -->
    <ion-list>
      <ion-item *ngFor="let comment of post.comments">
        {{ comment.author }}: {{ comment.text }}
      </ion-item>
    </ion-list>

    <!-- Adicionar Comentário -->
    <ion-item>
      <ion-textarea placeholder="Adicione um comentário" [(ngModel)]="newComment"></ion-textarea>
      <ion-button slot="end" (click)="addComment(post)">Enviar</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
