/* Estilização para a página Home */
*{
    --ion-background-color: black;
}
ion-header {
    ion-toolbar {
      ion-title {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
  
  ion-content {
    ion-list {
      ion-item {
        font-size: 16px;
        padding: 12px;
        border-bottom: 1px solid #ccc;
      }
    }
  }
  