<ion-content [fullscreen]="true" class="content">
  <div class="container">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" (input)="buscarLoginPorUsername()"></ion-input>
    </ion-item>
    <ion-card *ngIf="login" class="card">
      <ion-card-header>
        Informações do Login
      </ion-card-header>
      <ion-card-content>
        <ion-label>ID: {{ login.id }}</ion-label><br>
        <ion-label>Usuário: {{ login.username }}</ion-label>
        <!-- Outras informações do login -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
