*{
    --ion-background-color: black;
}


.half-half-button {
    background: linear-gradient(-223deg, #006cff 35%, #ff9300 65%);
    border: none;
    color: white;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}

.half-half-button.n1{
    margin-top: 5%;
}
