

<ion-content *ngIf="hideTabs" >
  <div class="image-container">
    <img src="" class="top-image" id="animated-img">
  
  </div>
  <ion-item class="um"  color="translucent">
    <ion-label class ="loginsenha" position="floating">Nome de Usuário</ion-label>
    <ion-input [(ngModel)]="username" type="text"></ion-input>
  </ion-item>
  <ion-item class="dois"  color="info">
    <ion-label class ="loginsenha" position="floating">Senha</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  <ion-button class="half-half-button n1" fill="clear" expand="full" (click)="login()">Login</ion-button>
  <ion-button class="half-half-button n2" fill="clear" expand="full" routerLink="/cadastro">Cadastrar-se</ion-button>

 <ion-label style="background-color: rgba(0, 0, 0, 0); margin-top: 5%;">powered by</ion-label> <img src="../../../assets/smart.png" style="margin-left: 40%; background-color: rgba(0, 0, 0, 0);" height="70%" width="20%">
</ion-content>