ion-menu {
  
  
  --ion-background-color: rgba(0, 0, 0, 0.151); /* Define o fundo como preto */
}

ion-menu ion-label {
  color: white; /* Define a cor do texto como branco */
}

/* Define o tamanho inicial dos ícones */
ion-tab-button ion-icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

/* Define o efeito de zoom ao clicar */
ion-tab-button:active ion-icon {
  transform: scale(1.2);
}
/* Arquivo de estilo ou no seu CSS */
/* CSS adicional para estilização */
.menu-content {
  --background: rgba(0, 0, 0, 0.9); /* Define a cor de fundo do menu */
  border: 2px groove #ffffff
}

.social {
  background-color: #000000; /* Cor de fundo para a seção de ícones de redes sociais */
  
}



