<ion-header>
  <ion-toolbar>
    <ion-title>Administrator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-list>
    <ion-item >
      <ion-card>
        <ion-card-header>

          <ion-card-title>Editar Usuários

            <img alt="Silhouette of mountains" src="../../../assets/812f561c-1000-497a-a6fd-0f7148e8a9ea.png" />
   

          </ion-card-title>
        
        </ion-card-header>
      
        <ion-card-content>
          
      
        </ion-card-content>
      </ion-card>
      <ion-buttons >
       <ion-button class="half-half-button " routerLink="/edit">Editar</ion-button>
     </ion-buttons>
</ion-item>
</ion-list>

</ion-content>
