<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MarketPlace</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div style=" text-align: center;">
    <img id="imag" src="../../../assets/c_logo.png" alt="Imagem Fitness" style="width: 180px; height: 180px;">
  </div>
    <img src="../../../assets/smart-fit.png" id="smart" alt="Smart Fit" style="width: 150px; height: 150px; margin-left: 30%;" >
    <ion-grid>
    
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../../assets/1-Creatina-Creapure-1.png"/>
          <ion-card-header>
            <ion-card-title >Creatina (Creapure®) 250g – Smart Fit Supps</ion-card-title>
            <ion-card-subtitle>Produtos Smart Fit </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button class="half-half-button" fill="clear" expand="full">
              Comprar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../../assets/glutamina.png" />
          <ion-card-header>
            <ion-card-title >L-Glutamina 250g – Smart Fit Supps</ion-card-title>
            <ion-card-subtitle>Produtos Smart Fit</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button class="half-half-button" fill="clear" expand="full">
              Comprar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../../assets/whey.webp" />
          <ion-card-header>
            <ion-card-title >Whey Protein Concentrado Garrafinha 30g – Smart Fit Supps</ion-card-title>
            <ion-card-subtitle>Produtos Smart Fit</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button class="half-half-button" fill="clear" expand="full">
              Comprar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../../assets/bcaa.webp" />
          <ion-card-header>
            <ion-card-title >BCAA 2:1:1 Em Pó 200g – Smart Fit Supps
            </ion-card-title>
            <ion-card-subtitle>Produtos Smart Fit</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button class="half-half-button" fill="clear" expand="full">
              Comprar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../../assets/cafeina.webp" />
          <ion-card-header>
            <ion-card-title>Cafeína 200 – 60 Comprimidos – Smart Fit Supps</ion-card-title>
            <ion-card-subtitle>Produtos Smart Fit</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button class="half-half-button" fill="clear" expand="full">
              Comprar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../../assets/isolado.webp" />
          <ion-card-header>
            <ion-card-title>Whey Protein Isolado 900g – Smart Fit Supps</ion-card-title>
            <ion-card-subtitle>Produtos Smart Fit</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button class="half-half-button" fill="clear" expand="full">
              Comprar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../../assets/workout.webp" />
          <ion-card-header>
            <ion-card-title>Smart Workout Beta 300g – Smart Fit Supps</ion-card-title>
            <ion-card-subtitle>Produtos Smart Fit</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button class="half-half-button" fill="clear" expand="full">
              Comprar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../../assets/camiseta.webp" />
          <ion-card-header>
            <ion-card-title>Camiseta Smart Fit Supps</ion-card-title>
            <ion-card-subtitle>Produtos Smart Fit</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button class="half-half-button" fill="clear" expand="full">
              Comprar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../../assets/barra.png" />
          <ion-card-header>
            <ion-card-title>Smart Bar (Barrinha de Proteína) 40g - Smart Fit  Supps</ion-card-title>
            <ion-card-subtitle>Produtos Smart Fit</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button class="half-half-button" fill="clear" expand="full">
              Comprar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="../../../assets/Monohidrata.webp" />
          <ion-card-header>
            <ion-card-title>Creatina Monohidratada 250g – Smart Fit Supps</ion-card-title>
            <ion-card-subtitle>Produtos Smart Fit</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button class="half-half-button" fill="clear" expand="full">
              Comprar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Adicione mais colunas com o mesmo formato -->
    
    <!-- Adicione mais linhas conforme necessário -->
  </ion-grid>
</ion-content>
