
span{

  text-align: center;
  margin-top: 5%;
}



#smart{
margin-top: -11%;
}

#imag{
  margin-top: 5%;
}

img{
  margin-top: -10%;
}


.half-half-button {
  background: linear-gradient(-223deg, #006cff 35%, #ff9300 65%);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-bottom-left-radius: 30%;
  border-top-right-radius: 30%;
}




